<div class="navbar-wrap main-menu d-none d-lg-flex">
	<ul class="navigation">
		<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
		<li><a asp-area="Administration" asp-controller="Movies" asp-action="Create">Create Movie</a></li>
		<li><a href="#">Users Comments</a></li>
		<li><a href="#">Fill Data</a></li>
	</ul>
</div>