@{
	this.ViewData["Title"] = "Administration";

	DateTime timeOfDayGreeting = DateTime.Now;
	string currentTime;

	if (timeOfDayGreeting.Hour >= 5 && timeOfDayGreeting.Hour < 12)
	{
		currentTime = "Good Morning!";
	}
	else if (timeOfDayGreeting.Hour >= 12 && timeOfDayGreeting.Hour < 16)
	{
		currentTime = "Good afternoon!";
	}
	else
	{
		currentTime = "Good evening!";
	}

}

<link rel="stylesheet" href="/css/admin.css"/>

<div class="admin-container">
	<partial name="../Shared/_AdminNav.cshtml" />
	<br />
	<br />
	<br />
	<div style="text-align: center" class="movie-details-content">
		<h2>@currentTime, <span>Boss! &nbsp; :)</span></h2>
	</div>
</div>
