
@{
    this.ViewData["Title"] = "Create Movie";
}

<link rel="stylesheet" href="/css/admin.css"/>

<div class="admin-container">
    <partial name="../Shared/_AdminNav.cshtml" />

    <h2 style="text-align: center">@this.ViewData["Title"]</h2>
    <br />
    <div style="text-align: center" class="movie-details-content">
        <h2 style="font-size: 20px">Chose a movie from &nbsp; <span><a href="https://www.themoviedb.org/">TMDb.org</a></span></h2>
    </div>
    <br />
            <form style="text-align: center" method="post" asp-action="Create">

                <div class="form-group ">
                    <div class="col-md-3 ml-auto mr-auto">
                         <input type="text" class="form-control" placeholder="Start Index" />
                    </div>
                    <span></span>
                </div>

                <div class="form-group ">
                    <div class="col-md-3 ml-auto mr-auto">
                        <input type="text" class="form-control" placeholder="End Index" />
                    </div>
                    <span></span>
                </div>

                <div class="form-group">
                    <button class="btn" type="submit">Create</button>
                </div>
            </form>
    </div>