@{
    this.ViewData["Title"] = "No Results";
}

<link rel="stylesheet" href="~/css/page-not-found.css" asp-append-version="true" />

<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>4<span>0</span>4</h1>
		</div>
		<p>Oops, sorry what you are look for does not exist or has not yet been added.</p>
	</div>
</div>