@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/identity.css" />

<div class="login-dark">
        <partial name="_ManageNav" />
        <div>
            @RenderBody()
        </div>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false)
}
