@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/identity.css" />

<div class="login-dark">
        <partial name="_ManageNav" />@* 
    <h1 style="text-align: center; color: white">Manage your account</h1>
    <h2 style="text-align: center; color: white">Change your account settings</h2> *@
        <div>
            @RenderBody()
        </div>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false)
}
