@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Recovery codes";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<div class="login-dark">
    <br />
    <br />
    <br />
    <p style="font-size: 15px; text-align: center;">
        <strong>Put these codes in a safe place.</strong>
    </p>
    <p style="font-size: 15px; text-align: center;">
        If you lose your device and don't have the recovery codes you will lose access to your account.
    </p>
    <div class="col-md-12" style="text-align: center;">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code" style="font-size: 15px">@Model.RecoveryCodes[row]</code>

            <text>&nbsp;</text>

            <code class="recovery-code" style="font-size: 15px">@Model.RecoveryCodes[row + 1]</code>
            <br />
        }
    </div>
</div>
