@using MovieDG.Core.ViewModels.Movies

@model IEnumerable<MovieViewModel>

@{
    this.ViewData["Title"] = "Genres";
    var genreName = this.Context.Request.Query["name"];
}

<section class="top-rated-movie tr-movie-bg" data-background="/images/tr_movies_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center mb-50">
                    <h2 id="genre-name">@genreName &nbsp;<span>Movies</span></h2>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("_LoadMoreMovies", Model)
    </div>

    @if (ViewBag.TotalPages > 1)
    {
        <div id="tr-button" class="tr-movie-btn text-center mt-25">
            <button id="load-button" class="btn" data-page-number="2">LOAD MORE</button>
            <div id="spinner" style="display: none"></div>
        </div>
    }
</section>

@section scripts{
    <script>
            $('#load-button').click(function () {
                let $button = $('#load-button');
                let $spinner = $('#spinner');

                // Disable the button and show the spinner
                $button.hide();
                $spinner.show();

                let nextPageNumber = $(this).data('pageNumber');
                let currentUrl = window.location.href;
                let genreName = currentUrl.split('=')[1];
                let totalPages = '@ViewBag.TotalPages';

                setTimeout(function () {
                    $.get('/Genres/Type', { name: genreName, pageNumber: nextPageNumber })
                        .done(function (data) {
                           $.getScript('/js/main.js');
                            $('.top-rated-movie .container').append(data);
                            // Check if there are more pages to load
                            if (nextPageNumber === parseInt(totalPages)) {
                                $button.hide();  // Hide the button if we're on the last page
                            } else {
                                $button.data('pageNumber', nextPageNumber + 1).show();
                            }
                            $spinner.hide();
                        })
                        .fail(function (xhr, status, error) {
                            console.log('An error occurred while loading the next page of movies: ' + error);
                        });
            }, 1000);
            });
    </script>
}