@{
    var list = new List<string>()
    {
        "Log in",
        "Register",
        "Forgot your password?",
        "Resend email",
        "Profile",
        "Manage Email",
        "Change password",
        "Two-factor authentication (2FA)",
        "Personal Data",
        "Configure authenticator app",
        "Reset authenticator key",
        "Two-factor authentication",
        "Recovery code verification",
        "Locked out",
        "Disable two-factor authentication (2FA)",
        "Resend email confirmation?",
        "Administration",
        "Create Movie"
    };
}

@if (!list.Contains(this.ViewData["Title"]))
{
<footer>
    <div class="footer-top-wrap">
        <div class="container">
            <div class="footer-menu-wrap">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="footer-menu">
                            <nav>
                                <ul class="navigation">
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-controller="Movies" asp-action="All">Movies</a></li>
                                </ul>
                                <div class="footer-search">
                                    <form asp-controller="Search" asp-action="MoviesByTitle">
                                        <input name="Title" type="search" placeholder="Find Favorite Movie" required>
                                        <button><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-quick-link-wrap">
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <div class="quick-link-list">
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021 All Rights Reserved, Share By <a href="https://nullphpscript.com">HTML Template</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
}