@using MovieDG.Common

@{
    string CurrentURL = this.Context.Request.Path;
}

<!DOCTYPE html>
<html class="no-js" id="html-chat" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/odometer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/aos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slick.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/chat-box-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/typing.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.png" type="favicon/png" asp-append-version="true" />

    <script src="~/js/jquery-3.6.0.min.js" asp-append-version="true"></script>

</head>
<body>
    <!-- preloader -->
    <div id="preloader">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <img src="~/images/preloader.svg" alt="">
            </div>
        </div>
    </div>
    <!-- preloader-end -->
    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->
    <!-- header-area -->
    <header>
        @if (!CurrentURL.Contains("Identity") && !CurrentURL.Contains("Administration"))
        {
            <partial name="_NavigationPartial.cshtml" />

        }
    </header>

    <main role="main">
        @RenderBody()
    </main>

    @if (!CurrentURL.Contains("Identity") && !CurrentURL.Contains("Administration"))
    {
        <partial name="_FooterPartial.cshtml" />
    }
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let currentUrl = window.location.href;
            if (!currentUrl.includes('Administration')) {
                const elementsLi = document.querySelectorAll('.navigation > li');
                const activeElement = document.querySelector('li.active');
                console.log(currentUrl);
                const navUrlMapping = {
                    "Mine": 5,
                    "Movies": 1,
                    "Genres": 2,
                    "Countries": 3,
                    "Years": 4,
                    "Contact": 6
                };

                for (const [keyword, index] of Object.entries(navUrlMapping)) {
                    if (currentUrl.includes(keyword)) {
                        if (activeElement) {
                            activeElement.classList.remove('active');
                        }
                        elementsLi[index].classList.add('active');
                        break;
                    }
                }
                const trActiveElements = document.querySelectorAll('.tr-movie-menu-active > button');
                const filterUrlMapping = {
                    "TopRatedMovies": 0,
                    "PopularityMovies": 1,
                    "RecentMovies": 2
                }

                for (const [keyword, index] of Object.entries(filterUrlMapping)) {
                    if (currentUrl.includes(keyword)) {
                        trActiveElements[index].classList.add('active');
                        break;
                    }
                }
            } else {
                const adminAreaNavUrlMapping = {
                    "AllUsersInRoles": 1,
                    "Create": 2,
                    "Add": 3,
                    "Submisions": 4
                };

                const liElements = document.querySelectorAll('.navigation>li');
                const activeLiElement = document.querySelector('.navigation > li.active')
                const action = currentUrl.split('/')[5];
                for (const [keyword, index] of Object.entries(adminAreaNavUrlMapping)) {
                    if (action === keyword) {
                        if (activeLiElement) {
                            activeLiElement.classList.remove('active');
                        }
                        liElements[index].classList.add('active');
                        break;
                    }
                }
            }
        });
    </script>

    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/isotope.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/js/imagesloaded.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.odometer.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.appear.js" asp-append-version="true"></script>
    <script src="~/js/slick.min.js" asp-append-version="true"></script>
    <script src="~/js/ajax-form.js" asp-append-version="true"></script>
    <script src="~/js/wow.min.js" asp-append-version="true"></script>
    <script src="~/js/aos.js" asp-append-version="true"></script>
    <script src="~/js/plugins.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/qrcode.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>
