@using Microsoft.AspNetCore.Identity
@using MovieDG.Data.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (this.SignInManager.IsSignedIn(this.User))
{
    <li class="header-btn">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="btn">Logout</button>
            </form>
    </li>
}
else
{
    <li class="header-btn">
            <a asp-area="Identity" asp-page="/Account/Login" class="btn">Sign In</a>
    </li>
}
</ul>
