@using static MovieDG.Common.GlobalConstants;

@inject MovieDG.Core.Contracts.IGenreService GenresService;
@inject MovieDG.Core.Contracts.ICountryService CountriesService;

@{
    var genres = await GenresService.GetAllGenresAsync();
    var countries = await CountriesService.GetAllCountriesAsync();

    var list = new List<string>()
    {
        "Log in",
        "Register",
        "Forgot your password?",
        "Resend email",
        "Profile",
        "Manage Email",
        "Change password",
        "Two-factor authentication (2FA)",
        "Personal Data",
        "Configure authenticator app",
        "Reset authenticator key",
        "Two-factor authentication",
        "Recovery code verification",
        "Locked out",
        "Disable two-factor authentication (2FA)",
        "Resend email confirmation?",
        "Administration",
        "Create Movie",
        "All Submisions",
        "Details",
        "Reply Message",
        "Delete Personal Data",
        "No Results",
        "Access denied",
        "Confirm email change"
    };
}

@if (!list.Contains(this.ViewData["Title"]))
{
    <div id="sticky-header" class="menu-area transparent-header">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    <div class="menu-wrap">
                        <nav class="menu-nav show">
                            <div class="logo">
                                <a asp-controller="Home" asp-action="Index">
                                    <img src="~/images/logo.png" alt="Logo" asp-append-version="true">
                                </a>
                            </div>
                            <div class="navbar-wrap main-menu d-none d-lg-flex">
                                <ul class="navigation">
                                    <li class="active">
                                        <a asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Movies" asp-action="All">Movies</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Genres</a>
                                        <ul class="submenu">
                                            @foreach (var genre in genres)
                                            {
                                                <li><a asp-controller="Genres" asp-action="Type" asp-route-name="@genre.Name">@genre.Name</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Countries</a>
                                        <ul class="submenu">
                                            @foreach (var country in countries)
                                            {
                                                <li><a asp-controller="Countries" asp-action="Name" asp-route-name="@country.Name">@country.Name</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="Movies" asp-action="Mine">My Movies</a>
                                    </li>
                                    <li><a asp-controller="Contact" asp-action="ContactUs">Contacts</a></li>
                                    @if(this.User.IsInRole(AdminRoleName))
                                    {
                                        <li><a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                                    }    
                                </ul>
                            </div>
                            <div class="header-action d-none d-md-block">
                                <ul>
                                    <li class="header-search"><a asp-action="MoviesByTitle" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search"></i></a></li>
                                    <li class="header-lang">
                                        <form>
                                            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="icon"><img src="~/images/settings.png" /></a>
                                        </form>
                                    </li>
                                    @*<li class="header-lang">
                                <form action="#">
                                <div class="icon"><i class="flaticon-globe"></i></div>
                                <select id="lang-dropdown">
                                <option value="">En</option>
                                <option value="">Au</option>
                                <option value="">AR</option>
                                <option value="">TU</option>
                                </select>
                                </form>
                                </li>*@
                                    @*<li class="header-btn"><a asp-area="Identity" asp-page="/Account/Login" class="btn">Sign In</a></li>*@
                                    <partial name="_LoginPartial" />
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <!-- Mobile Menu  -->
                    <div class="mobile-menu">
                        <div class="close-btn"><i class="fas fa-times"></i></div>

                        <nav class="menu-box">
                            <div class="nav-logo">
                                <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="" title=""></a>
                            </div>
                            <div class="menu-outer">
                                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                            </div>
                            <div class="social-links">
                                <ul class="clearfix">
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="menu-backdrop"></div>
                    <!-- End Mobile Menu -->
                    <!-- Modal Search -->
                    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form asp-controller="Search" asp-action="MoviesByTitle">
                                    <input name="Title" type="search" placeholder="Search here..." required>
                                    <button><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Search-end -->

                </div>
            </div>
        </div>
    </div>
}