@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Successfully confirm email";
}

<link rel="stylesheet" type="text/css" href="~/css/identity.css" />

<div class="login-dark">
    <div class="navbar-wrap main-menu d-none d-lg-flex">
        <ul class="navigation">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Back To Home</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2 style="text-align: center;">@ViewData["Title"]</h2>
</div>