@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<link rel="stylesheet" type="text/css" href="~/css/identity.css" />

<div class="login-dark">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2 style="text-align: center;">@ViewData["Title"]</h2>
</div>