@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<link rel="stylesheet" type="text/css" href="~/css/identity.css" />

<div style="text-align: center" class="login-dark">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>