@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="login-dark">
    <div class="navbar-wrap main-menu d-none d-lg-flex">
        <ul class="navigation">
            <li><a asp-controller="Home" asp-action="Index">Back To The Home</a></li>
        </ul>
    </div>
    <form  method="post">
        <li class="navbar navbar-dark bg-dark">
        <h2 class="sr-only">@ViewData["Title"]</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" placeholder="Email"/>
            <span asp-validation-for="Input.Email" class=" text-danger"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>
</div>