@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" type="text/css" href="~/css/identity.css" />

<div class="login-dark">
    <div class="navbar-wrap main-menu d-none d-lg-flex">
        <ul class="navigation">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Back To Home</a></li>
        </ul>
    </div>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h2 class="sr-only">@ViewData["Title"]</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
            <input asp-for="Input.Username" type="text" class="form-control" placeholder="Username" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
             </div>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="havent">Don't have an account?</a>
        <a asp-page="./ForgotPassword" class="forgot">Forgot your password?</a>
        <a asp-page="./ResendEmailConfirmation" class="forgot">Resend email confirmation</a>
     </form>
 </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
