@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<link rel="stylesheet" type="text/css" href="~/css/identity.css" />

<div style="text-align: center" class="login-dark">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>@ViewData["Title"]</h1>
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>
