@page
@model ResendEmailConfirmationModel

@{
    ViewData["Title"] = "Resend email confirmation?";
}

<link rel="stylesheet" type="text/css" href="~/css/identity.css" />

<div class="login-dark">
    <form method="post">
        <h2 class="sr-only">@ViewData["Title"]</h2>
        <h4>Enter your email.</h4>

        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Input.Email" class=" text-danger"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Resend</button>
        </div>
    </form>
</div>