@using MovieDG.Core.ViewModels.Movies
@model IEnumerable<MovieViewModel>

@{
    this.ViewData["Title"] = "Popularity Movies";
}

<section id="movies-list" class="top-rated-movie tr-movie-bg" data-background="/images/tr_movies_bg.jpg">
    @await Html.PartialAsync("_MoviesPartial", Model)
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.tr-movie-menu-active button').click(function () {
                var filterType = $(this).data('filter');
                $.ajax({
                    url: '@Url.Action("Filter")',
                    type: 'GET',
                    data: { filterType: filterType },
                    success: function (data) {
                        $('#movies-list').html(data);

                        if (filterType == "top-rated") {
                            filterType = "TopRatedMovies";
                        } else if (filterType == "recent") {
                            filterType = "RecentMovies";

                        } else if (filterType = "popularity") {
                            filterType = "PopularityMovies";
                        }

                        window.history.pushState(null, null, filterType);
                    },
                    error: function () {
                        alert('An error occurred.');
                    }
                });
                $('.filter-buttons button').removeClass('active');
                $(this).addClass('active');
                return false;
            });
        });
    </script>
}