@using MovieDG.Core.ViewModels.Movies
@model IEnumerable<MovieViewModel>

@{
    this.ViewData["Title"] = "Recent Movies";
}

<section id="movies-list" class="top-rated-movie tr-movie-bg" data-background="/images/tr_movies_bg.jpg">
    @await Html.PartialAsync("_MoviesPartial", Model)
</section>