@using MovieDG.Core.ViewModels.Contact

@model ReplyMessageViewModel

@{
	this.ViewData["Title"] = "Answer Message";
}

<link rel="stylesheet" href="/css/admin.css" />

<div class="admin-container">
    <partial name="../Shared/_AdminNav.cshtml" />
    <h2 style="text-align: center" class="title">@this.ViewData["Title"]</h2>
    <br />
    <br />
    <br />

        <div class="col-xl-8 col-lg-7 ml-auto mr-auto">
            <div class="contact-form-wrap">
                <div class="contact-form">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <input asp-for="@Model.ReplyMessage" type="text" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>