@using MovieDG.Core.ViewModels.Contact

@model IEnumerable<ContactViewModel>

@{
    this.ViewData["Title"] = "All Submisions";
}

<link rel="stylesheet" href="/css/admin.css" />

<div class="admin-container">
    <partial name="../Shared/_AdminNav.cshtml" />
    @if (@Model.Any())
    {
        <h2 style="text-align: center" class="title">@this.ViewData["Title"]</h2>
    }
    else
    {
        <h2 style="text-align: center" class="title">No Submisions Yet!</h2>
    }
    <br />
    <br />
    <br />

        @foreach (var contact in Model)
        {
        <div class="col-xl-8 col-lg-7 ml-auto mr-auto">
            <div class="contact-form-wrap">
                <div class="contact-form">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <input asp-for="@contact.Email" type="text" disabled>
                            <a asp-action="Details" asp-route-id="@contact.Id" class="btn">See Question</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
</div>
